# Daten und Analyse
pandas
numpy

# Visualisierung
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
xgboost
imbalanced-learn
pycountry

# Dashboard
streamlit

# Sonstiges
jupyter
joblib
requests
